[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/andy/Desktop/insomnia-export.1755282812389]
row=5
col=0

[/home/andy/Desktop/Outlook.desktop]
row=6
col=0

[/home/andy/Desktop/chrome-ommpemebcpjbdajmdkokjbbeggjdemjf-Default.desktop]
row=7
col=0

[/home/andy/Desktop/chrome-jjmemmllnjholihdmnldbfdegkemadej-Default.desktop]
row=9
col=0

[/home/andy/Desktop/chrome-cifhbcnohmdccbgoicgdjpfamggdegmo-Default.desktop]
row=10
col=0

[/home/andy/Desktop/New VMs.rdpw]
row=8
col=0

[FC821FBB821F78FA]
row=0
col=0

[scrapedfiles]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/andy]
row=4
col=0

