[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Remote Desktop Web Client
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=ommpemebcpjbdajmdkokjbbeggjdemjf
Icon=chrome-ommpemebcpjbdajmdkokjbbeggjdemjf-Default
StartupWMClass=crx_ommpemebcpjbdajmdkokjbbeggjdemjf
X-XFCE-Source=file:///home/andy/.local/share/applications/chrome-ommpemebcpjbdajmdkokjbbeggjdemjf-Default.desktop
